
<nav class="navbar color-custom navbar-expand-md navbar-dark sticky-top px-4">
    <div class="container-fluid">
        
        <a class="navbar-brand " href="/home">
            <img src="/images/logo/ristek-logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top ">
            RISTEK MedSOS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <% if (!currentUser) { %>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link " aria-current="page" href="/register">Register</a>
                    <a class="nav-link " aria-current="page" href="/login">Login</a>
                </div>
            <% } else { %>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link text-white fw-bold profile-link" aria-current="page" href="/user/<%= currentUser._id %>"><%= currentUser.username %></a>
                    <a class="nav-link " aria-current="page" href="/logout">Log Out</a>
                </div>
            <% } %>
        </div>
    </div>
</nav>