<% layout('layouts/boilerplate') %> 
<h1>Register</h1>
<form action="/register" class="needs-validation" method="post" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" required>
        <div class="invalid-feedback">
            Username can not be empty.
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" required>
        <div class="invalid-feedback">
            Enter a valid email.
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" required>
        <div class="invalid-feedback">
            Password can not be empty.
        </div>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Profile Picture (You can add this later)</label>
        <input type="file" name="image" id="image" class="form-control">
    </div>
    <button class="btn btn-success mb-5">Register!</button>
</form>
<span>Already have an account? <a href="/login" class="text-decoration-none fw-bold text-nowrap">Sign in</a></span>